.hero{
    align-items: center;
    display: flex;
    flex-direction: column;
    gap: 35px;
}



.hero span{
    color: rgb(168, 240, 23); 
}

.hero h1{
    text-align: center;
    width: 70%;
    font-size: 50px;
    font-weight: 600;
}

.hero p{
    width: 50%;
    text-align: center;
    font-size: 24px;
    line-height: 40px;
}

.hero-action{
    display: flex;
    align-items: center;
    gap: 25px;
    font-size: 24px;
    font-weight: 500;
}

.my-resume{
    padding: 25px 45px;
    border-radius: 50px;
    background:rgb(168, 240, 23) ;
    color: black;
    cursor: pointer;
}

.contact-me{
    padding: 25px 75px;
    border-radius: 50px;
    border: 2px solid white;
    cursor: pointer;
}

.my-resume:hover{
    border: 2px solid rgb(255, 255, 255);
}

.contact-me:hover{
    border-color: rgb(168, 240, 23);
}

